<div class="container">

    <div class="feed">
        <div>
            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>

            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>

            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>

            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>

            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>

            <div class="userPhoto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quia ex sunt ullam? Eligendi, exercitationem inventore facere eum nam sed dignissimos minima omnis, itaque corrupti, distinctio aliquid labore corporis commodi!
            </div>
            <div class="date">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam enim atque exercitationem quam fugit sunt! Pariatur nostrum iure tenetur perspiciatis quae ullam aliquam, enim harum esse! Cumque eius dignissimos velit.
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugiat, eveniet et, excepturi natus est perferendis, dignissimos ducimus officia veritatis eius optio quas similique exercitationem aspernatur esse a velit amet?
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nisi atque quas blanditiis ducimus veniam nulla repellendus praesentium, eveniet alias quisquam eos illo qui aut amet pariatur dicta officiis omnis.
            </div>
        </div>
    </div>

    <div class="hierarchy">
        <div class="containerHierarchy">
            <div class="user">
                <div class="photo">
                    {{user.phwewoto}} d
                </div>
                <div class="informationUser">
                    <div class="user">
                        {{user.name}} d
                    </div>
                    <div class="occupation">
                        {{user.occupation}} d
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>