.container{
    width: 80%;
    float: right;
    padding-top: 100px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
  
  }
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}
.msgE{
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 10pt;
  color: #ff000088;
  border-radius: 4px 4px 0px 0px;
}
.success{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.msgS{
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 10pt;
  color: rgb(13, 155, 13);
  border-radius: 4px 4px 0px 0px;
}
.typecontract, .jobnomenclature, .sector, .secretary, .sex{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: #ccc;
    border-radius: 4px;
    box-shadow: var(--shadow);
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f5f5f5;
    font-size: 9pt;
    margin-top: 5px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: var(--color-blue);
    color: #fff;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
  
  tr:hover {
    background-color: #ccc;
  }

 