body{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color-blue: #1c344c;
    --color-white: #fff;

    --hover-menu: #2c5075;
    --shadow: 2px 2px 10px #999;
}
#my-app-container{
  display: none;
}
@media(max-width: 1012px){
    .container{
      width: 100%;
    }
  }