.container{
    width: 100%;
    padding-top: 75px;
}
.feed{
    width: 55%;
    float: left;
    margin-left: 20%;
    padding: 5px;
}
.hierarchy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    right: 0;
    position:fixed;
}
.containerHierarchy{
    width: 90%;
}
.user{
    display: flex;
}

